.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul{
  margin:0 auto;
  padding:1em;
  max-width:900px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
}

li{
  list-style-type: none;
  width:40%;
  padding:2%;
  border:2px solid black;
  margin:1em 0;
  transition:all 200ms linear;
}
li:hover{
  background:#333;
  color:white;
}
li h2{
  font-style: italic;
  font-weight:400;
}
li:last-of-type:nth-of-type(2n+1){
  margin-right:auto;
}